* {
    margin: 0;
    padding: 0;
    background-color: #757eff;
    color: white;
}

.center-that-stuff {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
}

.centered-text {
    text-align: center;
}

.small-changes {
    position: absolute;
    top: 1vh;
    left: 1vh;
}